* text=auto

*.sh eol=lf
*.bash eol=lf
*.yml eol=lf
*.yaml eol=lf
*.java eol=lf
*.xml eol=lf
*.md eol=lf
*.json eol=lf
*.ts eol=lf
*.tsx eol=lf
*.js eol=lf
*.jsx eol=lf
Dockerfile eol=lf

*.jar binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
